@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    @apply antialiased;
    overflow-x: hidden;
  }

  *::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }

  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}
